<mat-tab-group animationDuration="0ms">
  <form
    *ngIf="form"
    [formGroup]="form"
    class="upload-file"
    (ngSubmit)="onSubmit()"
  >
    <mat-tab label="Upload image">
      <div class="uploadImage">
        <div class="image-input">
          <button
            (click)="uploadFile.click()"
            class="upload-button"
            mat-raised-button
            color="primary"
          >
            <mat-icon>attach_file</mat-icon>
            Upload image
          </button>

          <input
            #uploadFile
            type="file"
            name="file"
            (input)="uploadImageFile(uploadFile.files)"
            accept="image/*"
            style="display: none"
          />
          <div *ngIf="imgName" class="image-name">
            <mat-icon (click)="clearImgList()" class="photo-name-clear"
              >clear</mat-icon
            >
            <p>{{ imgName }}</p>
          </div>
        </div>

        <mat-form-field
          *ngIf="imgName; else textPlaceholder"
          class="drop-down"
          appearance="outline"
        >
          <mat-label>Animation types</mat-label>
          <mat-select
            (valueChange)="addAnimation($event)"
            formControlName="animationType"
            name="animation"
            disableOptionCentering
          >
            <mat-option [value]="type" *ngFor="let type of animationTypes">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-template #textPlaceholder>
          <p>* Please select the image first to access all functionality</p>
        </ng-template>
      </div>
    </mat-tab>
    <mat-tab
      class="position-size"
      disabled="{{ imgName ? false : true }}"
      label="Position & size"
    >
      <div class="image-width slider">
        <label class="example-value-label">Image width</label>
        <mat-slider
          (valueChange)="setImageWidth()"
          type="range"
          formControlName="imageWidth"
          max="100"
          min="0"
          step="1"
        ></mat-slider>
        {{ form.value.imageWidth }}
      </div>

      <div class="image-heigth slider">
        <label class="example-value-label">Image height</label>
        <mat-slider
          (valueChange)="setImageHeight()"
          type="range"
          formControlName="imageHeight"
          max="100"
          min="0"
          step="1"
        ></mat-slider>
        {{ form.value.imageHeight }}
      </div>

      <div class="image-container-width slider">
        <label class="example-value-label">Image container width</label>
        <mat-slider
          (valueChange)="setContainerWidth()"
          type="range"
          formControlName="containerWidth"
          max="100"
          min="0"
          step="1"
        ></mat-slider>
        {{ form.value.containerWidth }}
      </div>

      <div class="image-container-height slider">
        <label class="example-value-label">Image container height</label>
        <mat-slider
          (valueChange)="setContainerHeight()"
          type="range"
          formControlName="containerHeight"
          max="100"
          min="0"
          step="1"
        ></mat-slider>
        {{ form.value.containerHeight }}
      </div>
    </mat-tab>
    <mat-tab label="Download HTML file">
      <div class="upload-html">
        <button
          (click)="downloadHTML()"
          class="upload-button html"
          mat-raised-button
          color="primary"
        >
          Download HTML file
        </button>
      </div>
    </mat-tab>
  </form>
</mat-tab-group>

<div #preview>
  <div *ngIf="imgUrl" class="preview-container">
    <img [src]="imgUrl" alt="" />
  </div>
</div>
